
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #f5f7fa;
    color: #333333;
    background: linear-gradient(135deg, #1e88e5, #5e35b1) fixed;
    line-height: 1.5;
}
