
.mainContainer {

    width: 100%;
    height: 100%;
}

.journalList {

    list-style: none;
}

.journalListItem {


}

.journalEntry {


}

.journalHeading {


}

.journalText {


}

.journalDate {


}
