
.header {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.mainHeading {

    font-size: 40px;
}

.buttonContainer {

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.optionsButton {

    height: 40px;
    width: 40px;
    background: inherit;
    border-color: transparent;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.optionsButton:hover {
    scale: 1.2;
}

.icon {

    height: 30px;
    width: 30px;
}
