
.header {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.mainHeading {

    font-size: 40px;
}

.buttonContainer {

    display: flex;
    flex-direction: row;
    gap: 20px;
}
